.thumbnails-slider {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.thumbnails-slider a {
    display: inline-block;
}
.thumbnails-slider img{
    height: 100px;
    display: inline-block;
    margin-left: 5px;
}